* {
    padding: 0;
    margin: 0;
  }

body{
    font-family: 'Roboto Condensed', sans-serif;
    color: #333;
    font-size: 1.3rem;
    line-height: 1.3em;
    margin: 0;
    background-color: rgb(180, 212, 255);
    padding-top: 30px;
    transition: padding-top 0.5 ease;
}

head{
    font-family: 'Roboto Condensed', sans-serif;
}

header img{
    width: 70px;
    height: 70px;
    position:absolute;
    top:10px;
}

header img:hover{
    background-color: rgb(255, 217, 1);
    border-bottom: 20px;
    border-radius: 15px;
    transition: all 0.4s;
}

footer{
    background: rgb(255, 217, 1);
    width: 100%;
    overflow: hidden;
    color: rgb(0, 0, 0);
}

img{
    width: 100%;
}

p{
    margin-bottom: 1.6em;
    text-align: justify;
}
/*ENCABEZADO ESTATICO*/

.centrado-texto{ /*Centralizar el texto*/
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.encabezado-logo{ /* encabezado del logo */
    background: rgb(44, 0, 241);
    color: #fff;
    padding: 30px;
    padding-right: 100%;
    margin: auto;
    overflow: hidden;

    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
}

.encabezado a{ /*Enlaces del Encabezado*/
    color: #fff;
    text-decoration: none;
}

.encabezado-centrado{ /*Centrar  encabezado*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

 /*ENCABEZADO MENU*/

.encabezado-menu{ /* encabezado del menu */
    background: rgb(34, 0, 184);
    color: #fff;
    padding: 70px;
    margin: auto;
    overflow: hidden;
    
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 0px;
}

.menu ul { /* menu */
    list-style:none;
    position: absolute;
    margin-left: 100px;
}

.menu ul li {    /* items del menu */
    background-color:rgb(34, 0, 184);
    border-radius: 15px;
}
   
.menu ul a { /* enlaces del menu */
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:13px;
    text-transform:uppercase;
    letter-spacing:1px;
}

   
.menu ul li {  /*items del menu */
    position: relative;
    float: left;
    margin:10px;
    padding:10px;
    padding-left: 40px;
    padding-right: 40px;
}
   
.menu ul li:hover { /* efecto al pasar el ratón por los items del menu */
    background:rgb(88, 51, 255);
}

/*ENCABEZADO MENU DESPLEGABLE*/

.menu ul ul { /* menu desplegable */
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
}
   
.menu ul ul li { /* items del menu desplegable */
    float:none;
    width:150px;
}
   
.menu ul ul a { /* enlaces de los items del menu desplegable */
    line-height:120%;
 padding:10px 15px;
}
   
.menu ul li:hover > ul { /* items del menu desplegable al pasar el ratón */
    display:block;
}

/*SLIDER*/

.contenedor-slider{
    position: relative;

    width: 100%;
    border-radius: 6px;
    overflow: hidden;

}

.slider{ /*Animaciones de Slider*/
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slider{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.paginacion-slider{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.paginacion-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgb(245, 221, 6);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.paginacion-item:hover{
    transform: scale(2);
}

.paginacion-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.paginacion-item:hover img{
    opacity: 1;
    transition: scale(1);
}

input[id="1"]:checked ~ .slider{
    animation: none;
    transform: translate3d(0,0,0);
}

input[id="1"]:checked ~ .paginacion-slider .paginacion-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slider{
    animation: none;
    transform: translate3d(calc(-100% * 1),0,0);
}

input[id="2"]:checked ~ .paginacion-slider .paginacion-item[for="2"]{
    background: #fff;
}

input[id="3"]:checked ~ .slider{
    animation: none;
    transform: translate3d(calc(-100% * 2),0,0);
}

input[id="3"]:checked ~ .paginacion-slider .paginacion-item[for="3"]{
    background: #fff;
}

@keyframes autoplay{ 
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }

    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}
